<div class="container-fluid" id="contain">
<fieldset>
    <% @all_recipe.each do |rec|%>

      <div class="col-md-3" id="div_<%= rec.id.to_s %>">
        <div class="recipe_box" >
          <div class ="image_wrapper">
       <a href=  " <%= show_recipe_path(:recipe_id => rec.id.to_s) %>" class="img">
         <%= image_tag rec.recipe_img.url(:recipe_show), class: "recipe_index_dimension" %> </a>
          <h3> <a href= "<%= show_recipe_path(:recipe_id => rec.id.to_s) %>" ><%= rec.recipe_name %> </a></h3>
          </div>
          </div>
      </div>
      <% end %>
  </fieldset>
  </div>
  <style type="text/css">
    .container-fluid{
          padding:35px;
    }
    body { 
    background: url(http://i1.wp.com/blog.holachef.com/wp-content/uploads/2015/05/bigstock-Spices-44116264.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>